@import url("https://uwhealth.github.io/Nu-Connect/uconnect_assets/css/main.css");

.wrapper {
    padding: 3rem 1.5rem;
    max-width: 800px;
    margin: 0 auto;
}

.st0 {
    fill: #D7DDE5;
}

.st1, .knob_data {
    fill: #2EAB6F;
    color: #2EAB6F;
}

.graph {
    width: 80%;
    display: table;
    margin: 0 auto 0;
    position: relative;
    text-align: center;
    height: 12.5rem;
}

.graph_media {
    max-height: 12rem;
}

.graph_data, .knob_data {
    font-size: 3rem;
}

.graph_data {
    display: table-cell;
    vertical-align: middle;
}

.card_division {
    border-top: 1px solid #D7DDE5;
    padding: 0;
}

.card_full {
    max-height: none;
    height: auto;
}

.card_more_button {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.1;
    transition: transform .12s ease-out;
}

.card_more_button {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: #D7DDE5;
    border-top-color: #D7DDE5;
    background-color: #fff;
}

.card_more_button:after {
    content: '\e629';
}

.card_more_content {
    display: none;
    font-size: .865rem;
    line-height: 1.5;
    padding: .75rem;
}

.stats {
    width: 100%;
    margin-bottom: -2px;
    height: 5.75rem;
    display: table;
}

.stats_row > .stats_item {
    border-left: 1px solid #D7DDE5;
    padding: .75rem 1.5rem;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.stats_row > .stats_item:first-child {
    border-left: 0;
}

.stats_row:after {
    content: ' ';
    display: table;
    clear: both;
}

.stats_item_number {
    white-space: nowrap;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.stats_item_number:before {
    display: none;
}

.txt_success {
    color: #2EAB6F;
}

.txt_warn {
    color: #DDC728;
}

.txt_smaller {
    font-size: .75em;
}

.flipY {
    transform: scaleY(-1);
    border-bottom-color: #fff;
}

.txt_faded {
    opacity: .65;
}
