@font-face { font-family: "vazir"; src: url("../fonts/Vazir.eot"); src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff2") format("woff2"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.TTF") format("truetype"); font-weight: normal; font-style: normal; }

*, :before, :after { direction: inherit; text-decoration: inherit; font-family: inherit; font-size: inherit; color: inherit; line-height: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; }


html, body {
    font-family: vazir;
    direction: rtl;
    margin: 0;
}

:link, :visited {
    text-decoration: inherit;
    color: inherit;
}

a:hover, a:focus {
    color: inherit;
}

.dashboard-card {
    display: inline-block;
    width: calc(45% - 30px);
    background-color: #ff206c99;
    margin-top: 20px;
    text-align: center;
    padding: 30px;
}

.dashboard-container {
    text-align: center;
}

.eshop-header {
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    position: relative;
}

.top-menu {
    overflow: hidden;
    position: relative;
}

.top-menu > a {
    display: inline-block;
    padding: 25px;
    position: relative;
}

.top-menu > a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 0;
    height: 2px;
    background: #d10024;
    -webkit-transition: width .3s ease-in-out;
    transition: width .2s ease-in-out;
}

.top-menu > a:hover {
    color: #d10024;
}
.top-menu > a:hover:after {
    width: 100%;
}

.sidebar {
    transition: .4s ease-in-out;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    width: 0;
    display: none;
    z-index: 200;
    margin: 0;
    padding: 0;
    animation: sidebar-in .5s ease-in-out;
    background-color: #f1f1f1;
    height: 100%;
    overflow: hidden;
}

.sidebar > a {
    display: block;
    padding: 25px;
    position: relative;
}

.sidebar > a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 0;
    height: 2px;
    background: #d10024;
    -webkit-transition: width .3s ease-in-out;
    transition: width .2s ease-in-out;
}

.sidebar > a:hover {
    color: #d10024;
}
.sidebar > a:hover:after {
    width: 100%;
}

#hamburger-header {
    display: none;
    padding: 25px;
}

.sidebar-shadow {
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 20;
    transition: .4s;
    background: rgba(0,0,0,0.74);
    display: none;
}

@media screen and (max-width: 400px){
    .top-menu > a {
        display: none;
    }

    #hamburger-header {
        display: block;
    }

}

@keyframes sidebar-in {
    from{
        right:-300px;
        opacity:0
    }
    to{
        right:0;
        opacity:1
    }
}
